@import '../../variables';

.alert {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &__content {
    position: fixed;
    top: 20px;
    left: 50%;
    font-weight: 700;
    transform: translate(-50%);
    padding: 15px 30px;
    border-radius: 20px;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;

    &_success {
      background-color: $success-color;
    }

    &_info {
      background-color: $secondary-color;
    }

    &_warning {
      background-color: $error-color;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 15px;

    & > svg {
      font-size: 25px;
    }
  }
}

@keyframes fadeIn {
  from {
    top: -100px;
  }
  to {
    top: 20px;
  }
}

@keyframes fadeOut {
  from {
    top: 20px;
  }
  to {
    top: -100px;
  }
}
