$bg-main-color: #261e35;
$bg-secondary-color: #3c354a;

$main-color: #ac6aec;
$secondary-color: #ec5eb7;

$success-color: #00c287;
$error-color: #e72d04;

$text-main-color: #fff;
$text-light-color: #e2d8fd;
$text-secondary-color: #868b93;

$input-main-color: #2f293e;

$font-size-normal: 14px;
